<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <group ns="stereo2">
        <node pkg="nodelet" type="nodelet" name="stereo2_manager" args="manager" output="screen"/>

        <node pkg="nodelet" type="nodelet" name="uvc_camera_stereo" args="load uvc_camera/Stereo /stereo2/stereo2_manager" output="screen">
            <param name="width" type="int" value="1280" />
            <param name="height" type="int" value="960" />
            <param name="fps" type="int" value="30" />
            <param name="frame" type="string" value="stereo2_link" />
            <param name="left/device" type="string" value="/dev/video0" />
            <param name="right/device" type="string" value="/dev/video1" />
            <param name="left/camera_info_url" type="string" value="file://$(find uvc_camera)/example-left.yaml" />
            <param name="right/camera_info_url" type="string" value="file://$(find uvc_camera)/example-right.yaml" />
        </node>
    </group>
</launch>
